# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'haproxy/defaults.yml' as default_settings %}

{## setup variable using grains['os_family'] based logic ##}
{% set os_family_map = salt['grains.filter_by']({
        'Arch': {
            "pkg" : 'haproxy-arch',
        },
        'RedHat': {
            "config": '/etc/haproxy/haproxy.cfg',
            "sourcepkgs": ['openssl-devel','pcre-devel','zlib-devel','make','gcc','rpm-build','redhat-rpm-config'],
        }
  }, grain="os_family")
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.haproxy.update(os_family_map) %}

{## Merge in haproxy:lookup pillar ##}
{% set haproxy = salt['pillar.get'](
        'haproxy',
        default=default_settings.haproxy,
        merge=True
    )
%}